<!DOCTYPE html>
<html>
  <head>
    <title>Conditional Heatmap Generation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header></header>
    <form id="heatmap-form">
      <label for="batter">
        Batter ID
        <input type="text" id="batter" name="batter" />
      </label>
      <button type="submit">
        Generate Heatmap
      </button>
      <p id="error-message" class="hidden"></p>
    </form>
    <div id="visualization">
      <svg>
        <g id="heatmap"></g>
        <g id="strikezone"></g>
      </svg>
    </div>
    <div id="loading-indicator" class="hidden"></div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='heatmap.js') }}"></script>
  </body>
</html>
